.create-employee {
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 1.25rem;
        padding: 1.25rem;
        background-color: lighten($color: $greenlight, $amount: 55%);
        border-radius: 1.25rem;
        .formData {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            label {
                font-weight: bold;
                text-align: left;
            }
            input {
                // width: 100%;
                width: 31.25rem;
                margin: 0.313rem 0;
                text-align: left;
                padding: 12px 8px;
                border: 1px solid $border;
                border-radius: 5px;
            }
        }
        fieldset {
            padding: 1.25rem 1rem;
            border: none;
            border-top: 1px solid $darkGreen;
            border-bottom: 1px solid $darkGreen;

            h3 {
                text-align: left;
            }
            .formData {
                margin: 1.25rem 0;
            }
        }
        .Dropdown-control {
            width: 500px;
            border-radius: 5px;
            margin-top: 10px;
            .Dropdown-placeholder {
                text-align: left;
            }
        }

        button {
            padding: 15px 25px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: $darkGreen;
            font-weight: bold;
            color: white;
            transition: all 0.5s ease-in-out;
            &:hover {
                background-color: lighten($color: $greenlight, $amount: 55%);
                color: $darkGreen;
                border: 1px solid white;
            }
        }
    }
}
