header {
    margin: 0 auto;
    background-color: $darkGreen;
    .main-nav {
        padding: 1.5rem 1.25rem;
        a {
            font-weight: bold;
            color: $darkGreen;
        }
        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 1.75rem;
            width: 100%;
            li {
                cursor: pointer;
                font-weight: bold;
                color: white;
                img {
                    height: 100%;
                    width: 6rem;
                }
                &::after {
                    display: block;
                    content: "";
                    border-bottom: solid 1px white;
                    transform: scaleX(0);
                    transition: transform 250ms ease-in-out;
                }
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: 0% 50%;
                }
            }
        }
    }
}
